$primaryColor: #4527a4;

.bBlocksInspectorInfo {
  padding: 6px;

  a {
    text-decoration: none;
    font-weight: 700;
  }
}
// .block-editor-block-list__layout {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
.wp-block-b-blocks-test-purpose {
  .bBlocksCard {
    margin: 0 auto;
    background-color: #c89b7b;
    padding: 40px;
    width: 60%;

    .card {
      margin: 0 auto;
      background-color: white;
      padding: 20px;
      border-radius: 15px;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
      img {
        border-radius: 15px;
        // width: 20px;
      }

      .title {
        padding: 0;
        font-size: 1.2em;
        font-weight: 800;
      }
      .description {
        padding: 0;
        font-size: 0.75em;
        color: #505050;
        font-weight: 400;
      }
      .category-buttons {
        background-color: #ffa500;
        font-weight: 500;
        color: #000;
        border-radius: 15px;
        margin-right: 10px;
      }
      .bottom-components {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .price {
          padding: 0px;
          font-weight: 800;
          font-size: 1.2em;
        }

        .button {
          background-color: #fff;
          color: #fff;
          border-radius: 100px;
          padding: 15px;
          font-weight: 500;
        }
      }
    }
  }
}
